## 🌑 프로그래밍 언어

> 일부 언어에만 해당되는 특수 케이스는 제외하고, 대부분 언어에서 통용되는 일반적인 내용만 정리했다.
> 예를 들어 Fortran과 Ada는, 배열의 원소 참조를 위해 소괄호 `()`를 사용하지만, 대부분 언어에서 대괄호 `[]`를 사용하고 있기 때문에, [배열 원소 참조에 대한 설명에](/posts/programming-language-data-type-array/) `원소 참조를 위해 대괄호 []를 사용` 이라고 표현했다.
> 때문에 특정 언어에는 맞지 않는, 예외인 내용이 있을 수 있다.
> 또한, 비주류 언어에 대한 내용은, 꼭 필요한 것이 아니라면 생략했다. (필자의 주관으로)
{: .prompt-info}

- [프로그래밍 언어론](/posts/programming-language/)
- [언어 평가 기준](/posts/programming-language-evaluation-criteria/)
- [언어 설계에 영향을 주는 요소](/posts/programming-language-influences-on-design/)

- 타입 - []

---
