# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
/_posts/.obsidian
/.obsidian/workspace.json
/.obsidian/app.json
/.obsidian/core-plugins-migration.json
/.obsidian/core-plugins.json
_posts/manual/Welcome.md
.DS_Store
_posts/manual/.obsidian/app.json
_posts/manual/.obsidian/appearance.json
_posts/manual/.obsidian/core-plugins-migration.json
_posts/manual/.obsidian/core-plugins.json
_posts/manual/.obsidian/graph.json
_posts/manual/.obsidian/workspace.json
