amqp==5.2.0
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
attrs==23.2.0
backports.zoneinfo==0.2.1
billiard==4.2.0
celery==5.3.6
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.1.1
cycler==0.12.1
distlib==0.3.8
Django==4.2.9
exceptiongroup==1.1.3
fastapi==0.101.1
filelock==3.13.1
fonttools==4.47.2
frozendict==2.3.8
h11==0.14.0
identify==2.5.33
idna==3.4
importlib-resources==6.1.1
kiwisolver==1.4.5
kombu==5.3.5
matplotlib==3.7.4
nodeenv==1.8.0
numpy==1.24.4
onelogin==3.1.6
outcome==1.3.0.post0
packaging==23.2
pandas==2.0.3
pillow==10.2.0
platformdirs==4.1.0
pre-commit==3.5.0
prompt-toolkit==3.0.43
pydantic==2.1.1
pydantic_core==2.4.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
selenium==4.17.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
starlette==0.27.0
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.26.16
uvicorn==0.23.2
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
wsproto==1.2.0
zipp==3.17.0
