.box,
.box_done,
.task-list-item {
  list-style-type: none;
}

.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.task-list-item + .task-list-item {
  margin-top: 3px;
}
