/*
 * The field 'font-display' is added for Google-fonts.
 *
 * See: <https://fonts.google.com/>
 *
 */

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:400,700|Source+Sans+Pro:400,600,700,900&display=swap');
