<style>
  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 30px !important;
    padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
    max-width: none !important;
    border-radius: 6px !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview * {
    box-sizing: border-box !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
    width: 100% !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
    margin-top: 20px !important;
    width: 100% !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    width: 100% !important;
    height: 40px !important;
    border-radius: 6px !important;
    border: 2px solid #e9e8e8 !important;
    background-color: #fff !important;
    outline: none !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    color: #000000 !important;
    font-family: "Helvetica" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    text-align: center !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
    color: #000000 !important;
    opacity: 1 !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
    color: #000000 !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
    color: #000000 !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
    margin-top: 10px !important;
    width: 100% !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
    width: 100% !important;
    height: 40px !important;
    border: 0 !important;
    border-radius: 6px !important;
    line-height: 0px !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
    cursor: pointer !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
    color: #231f20 !important;
    font-family: "Helvetica" !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px !important;
  }

  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
    margin-left: 10px !important;
    height: 1.13em !important;
    max-height: 1.13em !important;
  }
</style>
<div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
  <form data-v-390679af=""
    action="https://api.follow.it/subscription-form/Y3c4Y01OclgvU3NQUW9kbUJST0M2Z1dkRVV4S0dkL2FiUVFvb2RpQ3RHR0phcTlzbXlKby9PaTROSlhRODBGVGlsWGtNYk5xTzVrZ0ppc3RrVGgrbW5WRjJIcVZ5SlVXVi90V2VxcGNzLzU0STVtYi91Y2I2UGFDalJ2OFQ1dU18eVVHeEVnb2Y4OWhqNHY3RHVDblh5cW9vN2hYL0VkcGNCNlUrNGs4Q2xyZz0=/8"
    method="post">
    <div data-v-390679af="" class="form-preview" style="background-color: rgb(34, 35, 37); position: relative;">
      <div data-v-390679af="" class="preview-heading">
        <h5 data-v-390679af="" style="text-transform: none !important; font-family: Helvetica; font-weight: 800; color: rgb(204, 204, 204); font-size: 20px; text-align: center;">Subscribe to the newsletter</h5>
      </div>
      <div data-v-390679af="" class="preview-input-field"><input data-v-390679af="" type="email" name="email" required="required" placeholder="Enter your email" spellcheck="false"
          style="text-transform: none !important; font-family: Helvetica; font-weight: normal; color: rgb(0, 0, 0); font-size: 16px; text-align: center; background-color: rgb(255, 255, 255);"></div>
      <div data-v-390679af="" class="preview-submit-button"><button data-v-390679af="" type="submit"
          style="text-transform: none !important; font-family: Helvetica; font-weight: 700; color: rgb(0, 0, 0); font-size: 16px; text-align: center; background-color: rgb(141, 181, 240);">Sign Up</button></div>
    </div>
  </form>
</div>
