<header id="site-header">
  <div class="container">
    <img
      src="https://github.com/RecursoDidacticoDigital/RDD/blob/main/img/Logo_IPN.png"
      alt="Escudo del Instituto Politécnico Nacional"
      class="header-image"
    >
    <div class="header-text">
      <h1>Instituto Politécnico Nacional</h1>
      <h2>Escuela Superior de Cómputo</h2>
    </div>
    <img
      src="https://github.com/RecursoDidacticoDigital/RDD/blob/main/img/escudoESCOM.png"
      alt="Escudo de la Escuela Superior de Cómputo"
      class="header-image"
    >
  </div>
</header>
