{% assign tag = include.tag %}
{% assign src = include.src %}
{% assign additional_types = include.additional_types %}
{% assign extensions = include.extensions %}

{% assign path_struct = src | split: '.' %}
{% assign base_path = path_struct.first %}
{% assign original_media_type = path_struct.last | downcase %}

{% capture media_type %}
  {% include convert_media_type.html type=original_media_type %}
{% endcapture %}
<source src="{{ src }}" type="{{ tag }}/{{ media_type | strip }}">

{% for type in additional_types %}
  {% if extensions contains type %}
    {% assign file_extension = '.' | append: type %}
    {% capture media_type %}
      {% include convert_media_type.html type=type %}
    {% endcapture %}
    <source src="{{ base_path | append: file_extension }}" type="{{ tag }}/{{ media_type | strip }}">
  {% endif %}
{% endfor %}

Your browser does not support the {{ tag }} tag. Here is a
<a href="{{ src | strip }}">link to the {{ tag }} file</a> instead.
