<aside
  id="notification"
  class="toast w-auto rounded-5 text-nowrap"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-animation="true"
  data-bs-autohide="false"
>
  <div class="d-flex align-items-center">
    <div class="toast-body ps-3">
      {{- site.data.locales[include.lang].notification.update_found -}}
    </div>
    <button
      type="button"
      class="btn btn-primary btn-sm rounded-2 py-0"
      aria-label="Update"
    >
      {{- site.data.locales[include.lang].notification.update -}}
    </button>
    <button
      type="button"
      class="btn-close mx-3 ms-2"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</aside>
