<!--
 Post sharing snippet
-->

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">{{ site.data.locales[site.lang].post.share | default: 'Share' }}</span>
  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign url = page.url | absolute_url %}

    {% for share in site.data.share.platforms %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url %}
        <a href="{{ link }}" data-toggle="tooltip" data-placement="top"
          title="{{ share.type }}" target="_blank" rel="noopener" aria-label="{{ share.type }}">
          <i class="fa-fw {{ share.icon }}"></i>
        </a>
    {% endfor %}

    <i class="fa-fw fas fa-link small" onclick="copyLink('', '{{ site.data.locales[site.lang].post.button.copy.succeed }}')"
        data-toggle="tooltip" data-placement="top"
        title="{{ site.data.locales[site.lang].post.button.copy.title }}">
    </i>

  </span>
</div>
