<!--
  Navigation buttons at the bottom of the post.
-->

<div class="post-navigation d-flex justify-content-between">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.previous | default: 'previous' }}">
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <span class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.previous | default: 'previous' }}">
    <p>-</p>
  </span>
  {% endif %}

  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{page.next.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.next | default: 'next' }}">
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <span class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.next | default: 'next' }}">
    <p>-</p>
  </span>
  {% endif %}

</div>
