<!--
  Date format snippet
  See: /assets/js/_utils/timeage.js
-->

{% assign tooltip_df = site.data.date_format.tooltip | default: '%a, %b %e, %Y, %l:%M %p %z' %}
{% assign post_long_df = site.data.date_format.post.long | default: '%b %e, %Y' %}
{% assign post_short_df = site.data.date_format.post.short | default: '%b %e' %}

<span class="timeago {% if include.class %}{{ include.class }}{% endif %}"
  {% if include.tooltip %}
    data-toggle="tooltip"
    data-placement="bottom"
    title="{{ include.date | date: tooltip_df }}"
  {% endif %}

  {% if include.prefix %}prefix="{{ include.prefix }} "{% endif%}
  {% if include.prep %}prep="{{ include.prep }}"{% endif %} >

  {% assign this_year = site.time | date: "%Y" %}
  {% assign post_year = include.date | date: "%Y" %}

  {% if post_year == this_year %}
    {{ include.date | date: post_short_df }}
  {% else %}
    {{ include.date | date: post_long_df }}
  {% endif %}

  <i class="unloaded">{{ include.date | date_to_xmlschema }}</i>

</span>
