{%- assign day = include.date | date: '%d' -%}
{%- assign month = include.date | date: '%m' -%}
{%- assign year = include.date | date: '%Y' -%}

{% capture month_name %}
  {% if month == '01' %}
    January
  {% elsif month == '02' %}
    February
  {% elsif month == '03' %}
    March
  {% elsif month == '04' %}
    April
  {% elsif month == '05' %}
    May
  {% elsif month == '06' %}
    June
  {% elsif month == '07' %}
    July
  {% elsif month == '08' %}
    August
  {% elsif month == '09' %}
    September
  {% elsif month == '10' %}
    October
  {% elsif month == '11' %}
    November
  {% elsif month == '12' %}
    December
  {% endif %}
{% endcapture %}

<em {% if include.small %}class="small"{% endif %}>
    {{ month_name | append: ' ' | append: day | append: ', ' | append: year }}
</em>
