<!--
  The Top Bar
  © 2017-2019 Cotes Chung
  MIT License
-->
<div id="topbar" class="bg-white row justify-content-center topbar-down">

  <div id="topbar-main" class="d-flex h-100 align-items-center justify-content-between col-12 col-md-12 col-lg-11 col-xl-11 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">

    <span id="breadcrumb">
      {% for item in page.breadcrumb %}
        {% if item.url %}
        <span>
          <a href="{{ site.baseurl }}{{ item.url | remove: '.html'}}">
            {{ item.label }}
          </a>
        </span>
        {% else %}
          <span>{{ item.label }}</span>
        {% endif %}
      {% endfor %}

      {% unless page.layout == "home" %}
        <span>{{ page.title }}</span>
      {% endunless %}

    </span><!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
    {% if page.location %}
      {{- page.location -}}
    {% elsif page.layout == "home" %}
      {{- site.title -}}
    {% else %}
      {{- page.title -}}
    {% endif %}
    </div>

    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrap">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search" placeholder="{{ site.data.label.search_hint }}...">
    </span>
    <a href="javascript:;">Cancel</a>
  </div>

</div>