#avatar a {
  pointer-events: none;
}

#avatar {
  display: flex !important;
  justify-content: center !important; /* 가로 중앙 정렬 */
  margin: 0 auto !important;
  padding: 0 !important;
  width: 100%;
}

.profile-wrapper {transform: translateX(-3px);}

  
html body #avatar {
  text-align: center !important;
}
