/*
* Mainly scss modules, only imported to `assets/css/main.scss`
*/

/* ---------- scss placeholder --------- */

%heading {
  color: var(--heading-color);
  font-weight: 400;
<<<<<<< HEAD
  font-family: 'Lato', 'Microsoft Yahei', sans-serif;
=======
  font-family: Lato, 'Microsoft Yahei', sans-serif;
}

%section {
  #core-wrapper & {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;

    &:focus {
      outline: none; /* avoid outline in Safari */
    }
  }
}

%anchor {
  .anchor {
    font-size: 80%;
  }

  @media (hover: hover) {
    .anchor {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.25s ease-in, visibility 0s ease-in 0.25s;
    }

    &:hover {
      .anchor {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.25s ease-in, visibility 0s ease-in 0s;
      }
    }
  }
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

%tag-hover {
  background: var(--tag-hover);
  transition: background 0.35s ease-in-out;
}

%table-cell {
  padding: 0.4rem 1rem;
  font-size: 95%;
  white-space: nowrap;
}

%link-hover {
  color: #d2603a !important;
  border-bottom: 1px solid #d2603a;
  text-decoration: none;
}

%link-color {
  color: var(--link-color);
}

%link-underline {
  border-bottom: 1px solid var(--link-underline-color);
}

<<<<<<< HEAD
=======
%clickable-transition {
  transition: color 0.35s ease-in-out;
}

%no-cursor {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
%no-bottom-border {
  border-bottom: none;
}

<<<<<<< HEAD
%section {
  #post-wrapper & {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

%anchor {
  padding-top: 3.5rem;
  margin-top: -2.5rem;
}

%cursor-pointer {
  cursor: pointer;
=======
%cursor-pointer {
  cursor: pointer;
}

%normal-font-style {
  font-style: normal;
}

%rounded {
  border-radius: 6px;
}

%img-caption {
  + em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 80%;
    padding: 0;
    color: #6d6c6c;
  }
}

%sidebar-links {
  color: rgba(117, 117, 117, 0.9);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

/* ---------- scss mixin --------- */

@mixin no-text-decoration {
  text-decoration: none;
}

<<<<<<< HEAD
@mixin sidebar-links($color: rgba(255, 255, 255, 0.5)) {
  color: $color;
  transition: color 0.35s ease-in-out;
  user-select: none;
}

@mixin icon-round($diameter) {
  border: 1px solid;
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
=======
@mixin mt-mb($value) {
  margin-top: $value;
  margin-bottom: $value;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

@mixin ml-mr($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin pl-pr($val) {
  padding-left: $val;
  padding-right: $val;
}

@mixin input-placeholder {
  opacity: 0.6;
}

<<<<<<< HEAD
@mixin semi-bold {
  font-weight: 600;
}

=======
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
@mixin label($font-size: 1rem, $font-weight: 600, $color: var(--label-color)) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

<<<<<<< HEAD
@mixin panel-label {
  @include label(inherit);

  display: block;
  line-height: 1.2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

=======
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
@mixin align-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
<<<<<<< HEAD
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
=======
  transform: translateX(-50%);
}

@mixin prompt($type, $fa-content, $fa-style: 'solid') {
  &.prompt-#{$type} {
    background-color: var(--prompt-#{$type}-bg);

    &::before {
      content: $fa-content;
      color: var(--prompt-#{$type}-icon-color);
      font: var(--fa-font-#{$fa-style});
    }
  }
}
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
