/*
* The syntax highlight.
*/

<<<<<<< HEAD
@import "colors/light-syntax";
@import "colors/dark-syntax";

html:not([mode]),
html[mode=light] {
  @include light-syntax;
}

html[mode=dark] {
  @include dark-syntax;
}

@media (prefers-color-scheme: dark) {
  html:not([mode]),
  html[mode=dark] {
    @include dark-syntax;
  }

  html[mode=light] {
    @include light-syntax;
  }
}

/* -- Codes Snippet -- */

$code-radius: 6px;
=======
@import 'colors/light-syntax';
@import 'colors/dark-syntax';

html {
  @media (prefers-color-scheme: light) {
    &:not([data-mode]),
    &[data-mode='light'] {
      @include light-syntax;
    }

    &[data-mode='dark'] {
      @include dark-syntax;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-mode]),
    &[data-mode='dark'] {
      @include dark-syntax;
    }

    &[data-mode='light'] {
      @include light-syntax;
    }
  }
}

/* -- code snippets -- */
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28

%code-snippet-bg {
  background: var(--highlight-bg-color);
}

<<<<<<< HEAD
%code-snippet-radius {
  border-radius: $code-radius;
}

%code-snippet-padding {
  padding: 1.2rem;
}

div > pre {
  @extend %code-snippet-bg;
  @extend %code-snippet-radius;
  @extend %code-snippet-padding;
=======
%code-snippet-padding {
  padding-left: 1rem;
  padding-right: 1.5rem;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

.highlighter-rouge {
  @extend %code-snippet-bg;
<<<<<<< HEAD
  @extend %code-snippet-radius;
=======
  @extend %rounded;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28

  color: var(--highlighter-rouge-color);
  margin-top: 0.5rem;
  margin-bottom: 1.2em; /* Override BS Inline-code style */
}

.highlight {
<<<<<<< HEAD
  @extend %code-snippet-radius;
=======
  @extend %rounded;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
  @extend %code-snippet-bg;

  @at-root figure#{&} {
    @extend %code-snippet-bg;
  }

  overflow: auto;
<<<<<<< HEAD
=======
  padding-top: 0.5rem;
  padding-bottom: 1rem;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28

  pre {
    margin-bottom: 0;
    font-size: $code-font-size;
    line-height: 1.4rem;
    word-wrap: normal; /* Fixed Safari overflow-x */
  }

  table {
<<<<<<< HEAD
    padding: 0;
    border: 0;
    td pre {
      overflow: visible;  /* Fixed iOS safari overflow-x */
=======
    td pre {
      overflow: visible; /* Fixed iOS safari overflow-x */
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
      word-break: normal; /* Fixed iOS safari linenos code break */
    }
  }

<<<<<<< HEAD
  td {
    padding: 0;
    border: 0;
  }

=======
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
  .lineno {
    padding-right: 0.5rem;
    min-width: 2.2rem;
    text-align: right;
    color: var(--highlight-lineno-color);
    -webkit-user-select: none;
<<<<<<< HEAD
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /* set the dollar sign to non-selectable */
  .gp {
    user-select: none;
  }

} //.highlight
=======
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
} /* .highlight */
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28

code {
  -webkit-hyphens: none;
  -ms-hyphens: none;
<<<<<<< HEAD
  -moz-hyphens: none;
=======
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
  hyphens: none;

  &.highlighter-rouge {
    font-size: $code-font-size;
    padding: 3px 5px;
<<<<<<< HEAD
=======
    word-break: break-word;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
    border-radius: 4px;
    background-color: var(--inline-code-bg);
  }

<<<<<<< HEAD
  @at-root a > &.highlighter-rouge {
    padding-bottom: 0; // show link's underlinke
    color: inherit;
  }

  @at-root a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote &.highlighter-rouge {
    color: inherit;
  }
}

td.rouge-code {
  padding: 1.2rem 1.5rem 1.2rem 1rem;

  // Prevent some browser extends from
  // changing the URL string of code block.
=======
  &.filepath {
    background-color: inherit;
    color: var(--filepath-text-color);
    font-weight: 600;
    padding: 0;
  }

  a > &.highlighter-rouge {
    padding-bottom: 0; /* show link's underlinke */
    color: inherit;
  }

  a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote & {
    color: inherit;
  }

  .highlight > & {
    color: transparent;
  }
}

td.rouge-code {
  @extend %code-snippet-padding;

  /*
    Prevent some browser extends from
    changing the URL string of code block.
  */
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
  a {
    color: inherit !important;
    border-bottom: none !important;
    pointer-events: none;
  }
<<<<<<< HEAD

=======
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

/* Hide line numbers for default, console, and terminal code snippets */
div {
  &[class^='highlighter-rouge'],
<<<<<<< HEAD
  &.language-plaintext.highlighter-rouge,
  &.language-console.highlighter-rouge,
  &.language-terminal.highlighter-rouge,
  &.nolineno {
    pre.lineno {
      display: none;
    }
    td.rouge-code {
      @extend %code-snippet-padding;
=======
  &.nolineno,
  &.language-plaintext.highlighter-rouge,
  &.language-console.highlighter-rouge,
  &.language-terminal.highlighter-rouge {
    pre.lineno {
      display: none;
    }

    td.rouge-code {
      padding-left: 1.5rem;
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
    }
  }
}

.code-header {
<<<<<<< HEAD
  background: var(--code-header-bg);
  border-top-left-radius: $code-radius;
  border-top-right-radius: $code-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.85rem;

  // text data
  &::before {
    content: attr(text-data);
    color: var(--lang-badge-color);
    padding-left: 1em;

    // language
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    // file name
    @at-root [file] #{&} {
      font-size: 0.85rem;
      text-transform: none;
    }
  }

  // clipboard
  button {
    border: 1px solid var(--code-header-bg);
    border-radius: $code-radius;
    padding: 0;
    width: 1.95rem;
    background-color: inherit;
    color: var(--highlight-lineno-color);

    @extend %cursor-pointer;

    &[timeout] {
      color: var(--clipboard-checked-color);
      border-color: var(--clipboard-checked-color);
    }

    &:not([timeout]):hover {
      background-color: gray;
      color: white;
=======
  @extend %no-cursor;

  $code-header-height: 2.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $code-header-height;

  &::before {
    $dot-size: 0.75rem;
    $dot-margin: 0.5rem;

    content: '';
    display: inline-block;
    margin-left: 1rem;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: var(--code-header-muted-color);
    box-shadow: ($dot-size + $dot-margin) 0 0 var(--code-header-muted-color),
      ($dot-size + $dot-margin) * 2 0 0 var(--code-header-muted-color);
  }

  /* the label block */
  span {
    /* label icon */
    i {
      font-size: 1rem;
      margin-right: 0.4rem;
      color: var(--code-header-icon-color);

      &.small {
        font-size: 70%;
      }
    }

    @at-root [file] #{&} > i {
      position: relative;
      top: 1px; /* center the file icon */
    }

    /* label text */
    &::after {
      content: attr(data-label-text);
      font-size: 0.85rem;
      font-weight: 600;
      color: var(--code-header-text-color);
    }
  }

  /* clipboard */
  button {
    @extend %cursor-pointer;
    @extend %rounded;

    border: 1px solid transparent;
    height: $code-header-height;
    width: $code-header-height;
    padding: 0;
    background-color: inherit;

    i {
      color: var(--code-header-icon-color);
    }

    &[timeout] {
      &:hover {
        border-color: var(--clipboard-checked-color);
      }

      i {
        color: var(--clipboard-checked-color);
      }
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
    }

    &:focus {
      outline: none;
    }

<<<<<<< HEAD
    i {
      font-size: 0.9rem;
    }

  }

=======
    &:not([timeout]):hover {
      background-color: rgba(128, 128, 128, 0.37);

      i {
        color: white;
      }
    }
  }
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
}

@media all and (max-width: 576px) {
  .post-content {
    > div[class^='language-'] {
      @include ml-mr(-1.25rem);

      border-radius: 0;

<<<<<<< HEAD
=======
      .highlight {
        padding-left: 0.25rem;
      }

>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
      .code-header {
        border-radius: 0;
        padding-left: 0.4rem;
        padding-right: 0.5rem;
      }
    }
  }
}
