@use 'variables' as v;

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mt-mb($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin ml-mr($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin pt-pb($val) {
  padding-top: $val;
  padding-bottom: $val;
}

@mixin pl-pr($val, $important: false) {
  @if $important {
    padding-left: $val !important;
    padding-right: $val !important;
  } @else {
    padding-left: $val;
    padding-right: $val;
  }
}

@mixin placeholder {
  color: var(--text-muted-color) !important;
}

@mixin placeholder-focus {
  opacity: 0.6;
}

@mixin label($font-size: 1rem, $font-weight: 600, $color: var(--label-color)) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin align-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin prompt($type, $fa-content, $fa-style: 'solid', $rotate: 0) {
  &.prompt-#{$type} {
    background-color: var(--prompt-#{$type}-bg);

    &::before {
      content: $fa-content;
      color: var(--prompt-#{$type}-icon-color);
      font: var(--fa-font-#{$fa-style});

      @if $rotate != 0 {
        transform: rotate(#{$rotate}deg);
      }
    }
  }
}

@mixin slide($append: null) {
  $basic: transform 0.4s ease;

  @if $append {
    transition: $basic, $append;
  } @else {
    transition: $basic;
  }
}

@mixin max-w-100 {
  max-width: 100%;
}

@mixin dl-holes($hole-fill-default, $hole-border-default) {
  // paper color + hole svg + hole position + add multiple holes vertically
  background: var(--desc-list-bg) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{v.$margin-width}" height="#{v.$desc-list-line-height}" viewBox="0 0 #{v.$margin-width} #{v.$desc-list-line-height}"><circle fill="var(--main-bg, #{$hole-fill-default})" stroke="var(--desc-list-border-color, #{$hole-border-default}" stroke-width="#{v.$hole-border-width}" cx="#{calc(v.$margin-width / 2)}" cy="#{calc(v.$desc-list-line-height / 2)}" r="#{v.$hole-radius}"/></svg>') 0 0 repeat-y;
}
