/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: #1e1e3f;
  --mask-bg: rgb(68, 69, 70);
  --main-border-color: #fad000;

  /* Common color */
  --text-color: #fff;
  --text-muted-color: #faefa5;
  --text-muted-hightlight-color: #aeaeae;
  --heading-color: #fad000;
  --label-color: #ffee80;
  --blockquote-border-color: #ff7200;
  --blockquote-text-color: #fff;
  --link-color: #ff7200;
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: #a599e9cc;
  --btn-border-color: #2e2f31;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #2d2b55;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #2d2b55;
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #ffffff;
  --site-subtitle-color: #ff9d00;
  --sidebar-bg: #222244;
  --sidebar-border-color: #25254b;
  --sidebar-muted-color: #faefa5;
  --sidebar-active-color: #fff;
  --sidebar-hover-bg: #4d21fc;
  --sidebar-btn-bg: #fad000dd;
  --sidebar-btn-color: #222244;
  --avatar-border-color: #fad000dd;

  /* Topbar */
  --topbar-bg: #1e1e3f;
  --topbar-text-color: #fad000;
  --search-border-color: #fad000dd;
  --search-icon-color: #ff7200;
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --post-list-text-color: rgb(175, 176, 177);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #1e1e3f;

  /* Posts */
  --toc-highlight: rgb(116, 178, 243);
  --tag-hover: #4d21fc;
  --tb-odd-bg: #2d2b55; /* odd rows of the posts' table */
  --tb-even-bg: #1e1e3f; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #fad000dd;
  --btn-share-hover-color: #4d21fc;
  --card-bg: #2d2b55;
  --card-hovor-bg: #4d21fc;
  --card-shadow: rgb(21, 21, 21, 0.72) 0 6px 18px 0,
    rgb(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #fb94ff;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: #ff9d00;
  --tag-shadow: #1e1e3f;
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #2d2b55;

  /* categories */
  --categories-border: #fad000;
  --categories-hover-bg: #4d21fc;
  --categories-icon-hover-color: #ffee80;

  /* archives */
  --timeline-node-bg: #b362ff;
  --timeline-color: #ff7200;
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #1e1e3f,
      #2d2b55,
      #2d2b55,
      #2d2b55,
      #1e1e3f
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
