{% assign src = include.src | strip %}
{% assign title = include.title | strip %}
{% assign types = include.types | default: '' | strip | split: '|' %}

{% unless src contains '://' %}
  {%- capture src -%}
    {% include img-url.html src=src %}
  {%- endcapture -%}
{% endunless %}

<p>
  <audio class="embed-audio" controls>
    {% assign parts = src | split: '/' %}
    {% assign filename = parts | last %}
    {% assign extension = filename | split: '.' | last %}
    {% assign basename = filename | split: '.' | pop | join: '.' %}
    {% assign path = parts | pop | join: '/' %}

    {% assign media_item = site.data.media | find: 'extension', extension %}
    {% if media_item %}
      <source src="{{ src }}" type="audio/{{ media_item['mimeType'] }}">
    {% else %}
      <source src="{{ src }}" type="audio/{{ extension }}">
    {% endif %}

    {% for extra_type in types %}
      {% assign filename = basename | append: '.' | append: extra_type %}
      {% assign extra_src = path | append: '/' | append: filename %}
      {% assign media_item = site.data.media | find: 'extension', extra_type %}
      {% if media_item %}
        <source src="{{ extra_src }}" type="audio/{{ media_item['mimeType'] }}">
      {% else %}
        <source src="{{ extra_src }}" type="audio/{{ extra_type }}">
      {% endif %}
    {% endfor %}

    Your browser does not support the audio tag. Here is a
    <a href="{{ src | strip }}">link to the audio file</a> instead.
  </audio>
  {% if title %}
    <em>{{ title }}</em>
  {% endif %}
</p>
