{% assign tag = include.tag %}
{% assign src = include.src %}
{% assign extnames = include.extnames %}

{% assign parts = src | split: '/' %}
{% assign filename = parts | last %}
{% assign extname = filename | split: '.' | last %}
{% assign basename = filename | split: '.' | pop | join: '.' %}
{% assign path = parts | pop | join: '/' %}

{% include embed/source.html src=src tag=tag extname=extname %}

{% for extra_extname in extnames %}
  {% assign filename = basename | append: '.' | append: extra_extname %}
  {% assign extra_src = path | append: '/' | append: filename %}
  {% include embed/source.html src=extra_src tag=tag extname=extra_extname %}
{% endfor %}

Your browser does not support the {{ tag }} tag. Here is a
<a href="{{ src | strip }}">link to the {{ tag }} file</a> instead.
