{% assign url = include.url %}
{% assign title = include.title %}
{% assign caption = include.caption %}
{% assign content = include.content %}
{% assign image = include.image %}
{% if include.lqip %}
  {%- capture clqip -%}lqip="{{ include.lqip }}"{%- endcapture -%}
{% else %}
  {%- assign clqip = null -%}
{% endif %}
<article class="card-wrapper card project-card">
  <a href="{{ url }}" class="post-preview row g-0">
    <!--      {% assign card_body_col = '12' %}-->

    <!--      {% if image %}-->

    <!--      {% if lqip %}-->
    <!--      {% capture lqip %}lqip="{{ lqip }}"{% endcapture %}-->
    <!--      {% else %}-->
    <!--      {% assign lqip = null %}-->
    <!--      {% endif %}-->


    <!--      {% assign card_body_col = '10' %}-->
    <!--      {% endif %}-->

    <!--      <div class="col-md-{{ card_body_col }}">-->
    <div class="project-body card-body d-flex row">
      <img class="project-icon" src="{{ image }}" alt="{{ alt }}" {{ clqip }}>
      <div class="project-main">
        <h3 class="card-title mb-2 mt-0">{{ title }}</h3>
        {% if caption %}
        <p class="card-text content mt-0">{{ caption }}</p>
        {% endif %}
      </div>
      <div class="project-content">
        <p class="card-desc mt-md-0">{{ content }}</p>
      </div>

      <!-- .post-meta -->
    </div>
    <!-- .card-body -->
    <!--      </div>-->
  </a>
</article>
