<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="/assets/js/custom/gp/bundle.js"></script>
</head>

<body>
  <figure>
    <d-figure id="Multivariate"></d-figure>
  </figure>
  <figure class="l-middle-outset">
    <d-figure id="MarginalizationConditioning"></d-figure>
    <figcaption>
      A bivariate normal distribution in the center.
      On the left you can see the result of marginalizing this distribution for Y, akin to integrating along the X axis.
      On the right you can see the distribution conditioned on a given X, which is similar to a cut through the original
      distribution. The Gaussian distribution and the conditioned variable can be changed by dragging the handles.
    </figcaption>
  </figure>
</body>

</html>