@mixin styles {
  /* Base theme colors — overridable via _config.yml theme_colors */
  --theme-forecolor: #34343c;
  --theme-backcolor: #ffffff;

  /* Framework color */
  --main-bg: var(--theme-backcolor);
  --mask-bg: color-mix(in srgb, var(--theme-forecolor) 30%, var(--theme-backcolor));
  --main-border-color: color-mix(in srgb, var(--theme-forecolor) 5%, var(--theme-backcolor));

  /* Common color */
  --text-color: var(--theme-forecolor);
  --text-muted-color: color-mix(in srgb, var(--theme-forecolor) 55%, var(--theme-backcolor));
  --text-muted-highlight-color: inherit;
  --heading-color: color-mix(in srgb, var(--theme-forecolor) 92%, black);
  --label-color: color-mix(in srgb, var(--theme-forecolor) 70%, var(--theme-backcolor));
  --blockquote-border-color: color-mix(in srgb, var(--theme-forecolor) 7%, var(--theme-backcolor));
  --blockquote-text-color: color-mix(in srgb, var(--theme-forecolor) 55%, var(--theme-backcolor));
  --link-color: #0056b2;
  --link-underline-color: color-mix(in srgb, var(--theme-forecolor) 12%, var(--theme-backcolor));
  --button-bg: var(--theme-backcolor);
  --btn-border-color: color-mix(in srgb, var(--theme-forecolor) 10%, var(--theme-backcolor));
  --btn-backtotop-color: color-mix(in srgb, var(--theme-forecolor) 60%, var(--theme-backcolor));
  --btn-backtotop-border-color: color-mix(in srgb, var(--theme-forecolor) 6%, var(--theme-backcolor));
  --checkbox-color: color-mix(in srgb, var(--theme-forecolor) 25%, var(--theme-backcolor));
  --checkbox-checked-color: #07a8f7;
  --img-bg: radial-gradient(
    circle,
    var(--theme-backcolor) 0%,
    color-mix(in srgb, var(--theme-forecolor) 6%, var(--theme-backcolor)) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    color-mix(in srgb, var(--theme-forecolor) 2%, var(--theme-backcolor)) 0%,
    color-mix(in srgb, var(--theme-forecolor) 10%, var(--theme-backcolor)) 50%,
    color-mix(in srgb, var(--theme-forecolor) 2%, var(--theme-backcolor)) 100%
  );

  /* Sidebar */
  --site-title-color: color-mix(in srgb, var(--theme-forecolor) 56%, var(--theme-backcolor));
  --site-subtitle-color: color-mix(in srgb, var(--theme-forecolor) 56%, var(--theme-backcolor));
  --sidebar-bg: color-mix(in srgb, var(--theme-forecolor) 4%, var(--theme-backcolor));
  --sidebar-border-color: color-mix(in srgb, var(--theme-forecolor) 7%, var(--theme-backcolor));
  --sidebar-muted-color: color-mix(in srgb, var(--theme-forecolor) 67%, var(--theme-backcolor));
  --sidebar-active-color: color-mix(in srgb, var(--theme-forecolor) 90%, black);
  --sidebar-hover-bg: color-mix(in srgb, var(--theme-forecolor) 13%, var(--theme-backcolor));
  --sidebar-btn-bg: var(--theme-backcolor);
  --sidebar-btn-color: color-mix(in srgb, var(--theme-forecolor) 44%, var(--theme-backcolor));
  --avatar-border-color: var(--theme-backcolor);

  /* Topbar */
  --topbar-bg: color-mix(in srgb, var(--theme-backcolor) 70%, transparent);
  --topbar-text-color: color-mix(in srgb, var(--theme-forecolor) 70%, var(--theme-backcolor));
  --search-border-color: color-mix(in srgb, var(--theme-forecolor) 6%, var(--theme-backcolor));
  --search-icon-color: color-mix(in srgb, var(--theme-forecolor) 24%, var(--theme-backcolor));
  --input-focus-border-color: color-mix(in srgb, var(--theme-forecolor) 28%, var(--theme-backcolor));

  /* Home page */
  --post-list-text-color: color-mix(in srgb, var(--theme-forecolor) 60%, var(--theme-backcolor));
  --btn-patinator-text-color: color-mix(in srgb, var(--theme-forecolor) 67%, var(--theme-backcolor));
  --btn-paginator-hover-color: var(--sidebar-bg);

  /* Posts */
  --toc-highlight: #0550ae;
  --toc-popup-border-color: color-mix(in srgb, var(--theme-forecolor) 18%, var(--theme-backcolor));
  --btn-share-color: color-mix(in srgb, var(--theme-forecolor) 50%, var(--theme-backcolor));
  --btn-share-hover-color: #0d6efd;
  --card-bg: var(--theme-backcolor);
  --card-hover-bg: color-mix(in srgb, var(--theme-forecolor) 12%, var(--theme-backcolor));
  --card-shadow: color-mix(in srgb, var(--theme-forecolor) 5%, transparent) 0 2px 6px 0,
    color-mix(in srgb, var(--theme-forecolor) 10%, transparent) 0 0 0 1px;
  --footnote-target-bg: lightcyan;
  --tb-odd-bg: color-mix(in srgb, var(--theme-forecolor) 2%, var(--theme-backcolor));
  --tb-border-color: color-mix(in srgb, var(--theme-forecolor) 8%, var(--theme-backcolor));
  --dash-color: color-mix(in srgb, var(--theme-forecolor) 24%, var(--theme-backcolor));
  --kbd-wrap-color: color-mix(in srgb, var(--theme-forecolor) 26%, var(--theme-backcolor));
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: var(--theme-backcolor);
  --prompt-text-color: color-mix(in srgb, var(--theme-forecolor) 77%, transparent);
  --prompt-tip-bg: rgb(123 247 144 / 20%);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255 243 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248 215 218 / 56%);
  --prompt-danger-icon-color: #df3c30;

  /* Tags */
  --tag-border: color-mix(in srgb, var(--theme-forecolor) 12%, var(--theme-backcolor));
  --tag-shadow: var(--btn-border-color);
  --tag-hover: color-mix(in srgb, var(--theme-forecolor) 13%, var(--theme-backcolor));
  --search-tag-bg: color-mix(in srgb, var(--theme-forecolor) 3%, var(--theme-backcolor));

  /* Categories */
  --categories-border: color-mix(in srgb, var(--theme-forecolor) 12%, transparent);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: color-mix(in srgb, var(--theme-forecolor) 80%, var(--theme-backcolor));

  /* Archive */
  --timeline-color: color-mix(in srgb, var(--theme-forecolor) 8%, transparent);
  --timeline-node-bg: color-mix(in srgb, var(--theme-forecolor) 24%, var(--theme-backcolor));
  --timeline-year-dot-color: var(--theme-backcolor);

  /* --- Custom code light mode colors --- */
  --language-border-color: color-mix(in srgb, var(--theme-forecolor) 8%, var(--theme-backcolor));
  --highlight-bg-color: color-mix(in srgb, var(--theme-forecolor) 4%, var(--theme-backcolor));
  --highlighter-rouge-color: #3f596f;
  --highlight-lineno-color: color-mix(in srgb, var(--theme-forecolor) 38%, var(--theme-backcolor));
  --inline-code-bg: color-mix(in srgb, var(--theme-forecolor) 5%, transparent);
  --code-color: color-mix(in srgb, var(--theme-forecolor) 96%, var(--theme-backcolor));
  --code-header-text-color: color-mix(in srgb, var(--theme-forecolor) 36%, var(--theme-backcolor));
  --code-header-muted-color: color-mix(in srgb, var(--theme-forecolor) 10%, var(--theme-backcolor));
  --code-header-icon-color: color-mix(in srgb, var(--theme-forecolor) 22%, var(--theme-backcolor));
  --clipboard-checked-color: #43c743;

  [class^='prompt-'] {
    --link-underline-color: rgb(219 216 216);
  }

  .dark {
    display: none;
  }

  /* --- Syntax highlight theme from `rougify style github` --- */

  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #24292f;
    background-color: #f6f8fa;
  }

  .highlight .k,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .kv {
    color: #cf222e;
  }

  .highlight .gr {
    color: #f6f8fa;
  }

  .highlight .gd {
    color: #82071e;
    background-color: #ffebe9;
  }

  .highlight .nb {
    color: #953800;
  }

  .highlight .nc {
    color: #953800;
  }

  .highlight .no {
    color: #953800;
  }

  .highlight .nn {
    color: #953800;
  }

  .highlight .sr {
    color: #116329;
  }

  .highlight .na {
    color: #116329;
  }

  .highlight .nt {
    color: #116329;
  }

  .highlight .gi {
    color: #116329;
    background-color: #dafbe1;
  }

  .highlight .kc {
    color: #0550ae;
  }

  .highlight .l,
  .highlight .ld,
  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #0550ae;
  }

  .highlight .sb {
    color: #0550ae;
  }

  .highlight .bp {
    color: #0550ae;
  }

  .highlight .ne {
    color: #0550ae;
  }

  .highlight .nl {
    color: #0550ae;
  }

  .highlight .py {
    color: #0550ae;
  }

  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi,
  .highlight .vm {
    color: #0550ae;
  }

  .highlight .o,
  .highlight .ow {
    color: #0550ae;
  }

  .highlight .gh {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .gu {
    color: #0550ae;
    font-weight: bold;
  }

  .highlight .s,
  .highlight .sa,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1,
  .highlight .ss {
    color: #0a3069;
  }

  .highlight .nd {
    color: #8250df;
  }

  .highlight .nf,
  .highlight .fm {
    color: #8250df;
  }

  .highlight .err {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cp,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #68717a;
  }

  .highlight .gl {
    color: #68717a;
  }

  .highlight .gt {
    color: #68717a;
  }

  .highlight .ni {
    color: #24292f;
  }

  .highlight .si {
    color: #24292f;
  }

  .highlight .ge {
    color: #24292f;
    font-style: italic;
  }

  .highlight .gs {
    color: #24292f;
    font-weight: bold;
  }
}
