---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category" class="mb-5">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  <ul class="post-content ps-0">
    {% for post in page.posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date wrap='span' class='text-muted small' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
