---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>
  {% assign total_time = 0 %}
  {% for post in page.posts %}
    {% assign total = total | plus: post.minutes %}
  {% endfor %}

  <h4>Time logged: {% include format-minute.html minutes=total wrap='span' class='text-muted' %} </h4>
  <ul class="post-content ps-0">
    <li class="d-flex justify-content-between px-md-3">
      Entry
      <span class="dash flex-grow-1"></span>
      <span class='text-muted small'>Time spent</span>
      </li>
    {% for post in page.posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include format-minute.html minutes=post.minutes wrap='span' class='text-muted small' %}
      </li>
    {% endfor %}
  </ul>
</div>
