---
layout: compress
---
<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask" class="d-none position-fixed w-100 h-100 z-1"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- Embedded scripts -->

    {% for _include in layout.script_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}

    <script type="text/javascript">
      var data = {% assign counter = 0 %}{
      {% for post in site.posts %}{% capture day %}{{ post.date | date: '%s' }}{% endcapture %}{% capture prevday %}{{ post.previous.date | date: '%s' }}{% endcapture %}{% assign counter = counter | plus: 1 %}{% if day != prevday %}"{{ post.date | date: '%s' }}": {{ counter }}{% assign counter = 0 %}{% if forloop.last == false %},{% endif %}
      {% endif %}{% endfor %}};


      var responsiveCal = function( options ) {
        var now = new Date();
          if( $(window).width() < 420 ) {
              options.start = now.setMonth(now.getMonth());
              options.range = 1;
              options.cellSize = 30;
          } else if ( $(window).width() < 730 ) {
              options.start = now.setMonth(now.getMonth() - 1);
              options.range = 2;
              options.cellSize = 25;
          } else if( $(window).width() < 1400 ) {
              options.start = now.setMonth(now.getMonth() - 2);
              options.range = 3;
              options.cellSize = 28;
          } else {
              options.start = now.setMonth(now.getMonth() - 3);
              options.range = 4;
              options.cellSize = 28;
          }

          if( typeof cal === "object" ) {
              $('#cal-heatmap').html('');
              cal = cal.destroy();
          }
          cal = new CalHeatMap();
          cal.init( options );

      }
      caloptions = {
          itemSelector: "#cal-heatmap",
        domain: "month",
        subDomain: "x_day",
        data: data,
        dataType: "json",
        cellPadding: 7,
        domainGutter: 20,
        displayLegend: false,
        range: 4,
        considerMissingDataAsZero:false,
        domainDynamicDimension: true,
        previousSelector: "#cal-heatmap-PreviousDomain-selector",
        nextSelector: "#cal-heatmap-NextDomain-selector",
        domainLabelFormat: function(date) {
          moment.locale("en");
          return moment(date).format("MMMM").toUpperCase();
        },
        subDomainTextFormat: "%d",
        legend: [1,2,3,4],
        legendColors: {
          empty: "#FFFFFF",

          max:   "#E65272"
        },
        label: {
          position: "top"
        }
      };


      // run first time, put in load if your scripts are in footer
      responsiveCal( caloptions );

      $(window).resize(function() {
          if(this.resizeTO) clearTimeout(this.resizeTO);
          this.resizeTO = setTimeout(function() {
              $(this).trigger('resizeEnd');
          }, 500);
      });

      //resize on resizeEnd function
      $(window).bind('resizeEnd', function() {
         responsiveCal( cal.options );
      });
    </script>

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>
