---
layout: page
# The Gallerys layout
---

{% include lang.html %}

<div id="gallerys" data-exif='{{ site.exif }}'>
  {% for image in site.static_files %}
  {% if image.path contains 'gallerys' %}
  <article class="thumb">
      <a href="{{site.img_cdn}}gallerys/{{ image.name }}" class="image">
          <img src="{{site.img_cdn}}gallerys/{{ image.name }}" alt=""
               data-name="{{ image.name }}"/></a>
      <!--<h2></h2>
      <p></p>-->
  </article>
  {% endif %}
  {% endfor %}
  </div>
