---
layout: default
title: Introduction Page
---

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        font-family: Arial, sans-serif;
    }
    .profile-pic {
        display: block;
        margin: 15px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .buttons {
        margin: 20px 0;
    }
    .button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #0073b1;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    .button:hover {
        background-color: #005582;
    }
    .hobbies {
        margin-top: 30px;
        text-align: left;
    }
    .hobbies ul {
        list-style-type: none;
        padding: 0;
    }
    .hobbies li::before {
        content: "\2022";
        color: #0073b1;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
    }
    .image-gallery {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .image-gallery img {
        width: 300px; /* Adjust this value to make the images larger or smaller */
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container">
    <h2>Hi, I'm Ishan! Welcome to my website!</h2>
        <img src="{{ site.url }}/assets/img/profile_pic.jpg" alt="Profile Picture">

    <div class="buttons">
        <a href="https://www.linkedin.com/in/ishanjandaur/" target="_blank" class="button"> Connect on LinkedIn</a>
    </div>

    <p>
        Hi, my name is Ishan Jandaur, and I am currently a product design engineer at Lyten. In this role, I design cylindrical battery cells using Li-S chemistry.
    </p>
    <p>
        I was born and raised in San Jose, CA, and have a bachelor's degree from California Polytechnic State University - San Luis Obispo.
        Although my degree is in mechanical engineering, my work experience and interests have varied quite a bit. I have worked in batteries, on medical devices, and even in high-volume contract manufacturing environments.
    </p>
    <p>
        Feel free to reach out to me on LinkedIn or by email if you want to chat!
    </p>

    <div class="hobbies">
        <h3>Hobbies:</h3>
        <ul>
            <li>Training my Dog</li>
            <li>Collecting Vinyl Records</li>
            <li>Playing Basketball</li>
            <li>Traveling/Backpacking</li>
            <li>Cooking New Foods</li>
        </ul>
    </div>

    <div class="image-gallery">
      <img src="{{ site.url }}/assets/img/maiya.jpg" alt="Maiya">
      <img src="{{ site.url }}/assets/img/backpacking.png" alt="Backpacking">
      <img src="{{ site.url }}/assets/img/taj.jpg" alt="Taj">
    </div>
</div>
