---
layout: default
---

{% include lang.html %}

<div class="row{% unless layout.tail_includes %} alone{% endunless %}">

  <!-- core -->
  <div id="core-wrapper" class="col-12 col-lg-11 col-xl-8">
    <div class="post pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">
    {% if page.dynamic_title or page.collection == 'tabs' %}
      <h1 class="dynamic-title">
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[lang].tabs[tab_key] | default: page.title -}}
      </h1>
      <div class="post-content">
        {% include refactor-content.html content=content %}
      </div>
    {% else %}
      {% include refactor-content.html content=content %}
    {% endif %}
    </div>
  </div> <!-- #core-wrapper -->

  <!-- pannel -->
  <div id="panel-wrapper" class="col-xl-3 pl-2 text-muted topbar-down">

    <div class="access">
      {% include update-list.html %}
      {% include trending-tags.html %}
    </div>

    {% for _include in layout.pannel_includes %}
      {% assign _include_path = _include | append: '.html' %}
      {% include {{ _include_path }} %}
    {% endfor %}
  </div>

</div>

<!-- tail -->
{% if layout.tail_includes %}
<div class="row">
  <div class="col-12 col-lg-11 col-xl-8">
    <div id="tail-wrapper" class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">
      {% for _include in layout.tail_includes %}
        {% assign _include_path = _include | append: '.html' %}
        {% include {{ _include_path }} %}
      {% endfor %}
    </div>
  </div>
</div> <!-- .row -->
{% endif %}
