---
layout: page
# The Portpolio of posts.
---

{% include lang.html %}


<div id="portpolio" class="pl-xl-3">
<div id="projects" class="info col m12 s12 carousel-item active" style="transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px); z-index: 0; opacity: 1; display: block;">
    <div class="row project">
           <div class="row">
                <a><span class="title"><h2>VPL기반의 서비스 로봇용 안내 어플리케이션</h2></span></a>
            </div>
        <div class="col m6 s12">
            <div class="row">
                2011년 4월-2011년 12월
            </div>
            <div class="row">Tools Used: VPL, TTS
            </div>
            <div class="row">
                <span class="tag">#관절 제어 #안내 서비스 #로봇 콘트롤러 개발</span>
            </div>
            PC 기반의 지능형 로봇 시스템인 아이구로의 머리 움직임과 로봇 팔을 이용한 관절 제어와 TTS를 이용한 음성 데이터 출력해 안내서비스를 제공하는 VPL 어플리케이션을 개발한다. 관절제어 및 자유로운 움직임을 통해 사람의 관절에 대해 이해하고 더 나아가 로봇에 대한 흥미 유발이 가능하다.
        </div>
        <div class="col m6 s12 details">
            <br><img src="https://tkdals1049.github.io/gallerys/pro1.jpg" alt="drawing"></img>
        </div>
    </div> 

    <br><br>
    <div class="row project">
        <div class="row">
            <a><span class="title"><h2>얼굴 인식을 통한 간병 시스템</h2></span></a>
        </div>
        <div class="col m6 s12">
            <div class="row">2012년 5월-2012년 12월
            </div><div class="row">Tools Used: c#, Arduino
            </div>
            <div class="row">
                <span class="tag">#얼굴 인식 #다이나믹셀 모터제어 #상호작용 로봇</span>
            </div>
            로봇의핵심기술인HRI(Human-Robot-Interaction)를본작품에기반을두고있으며영상과음성인식에중점두고이러한데이터를바탕으로 별도의입력장치없이얼굴과음성만으로로봇을제어하여손과발이불편한사람에옆에서간호와놀이를해줄수있는서비스를제공한다.
        </div>
    </div>
    <br><br>
    <div class="row project">
        <div class="row">
            <a href="https://youtu.be/Rr0yYASjl0E" target="_blank"><h2><span class="title">작업 능력 향상을 위한 악력 증강 글러브 개발</span></h2></a>
        </div>
        <div class="col m6 s12">
            <div class="row">
                2015년 4월-2015년 12월
            </div>
            <div class="row">Tools Used: SolidWorks, Arduino
            </div>
            <div class="row">
                <span class="tag">#3D 프린터 조립 #엔코더 모터제어 #엑소 슈트</span>
            </div>
            손가락의 운동을 읽는 압력센서, 힘을 가해주는 엔코더 모터 이 모두를 제어하는 아두이노를 이용해 모터의 회전을 이용한 근력증강을 구현한다. 3D프린터를 이용해 누구나 만들 수 잇는 작품 개발을 목표로 한다.
        </div>
        <div class="col m6 s12 details">
            <br><img src="https://tkdals1049.github.io/gallerys/pro2.jpg">
        </div>
    </div> 
    <br><br>
    <div class="row project">
            <div class="row">
                <a href="https://youtu.be/_uScaevioc0" target="_blank"><span class="title"><h2>유니티를 이용한 자전거 VR 시뮬레이터</h2></span></a>
            </div>
        <div class="col m6 s12">
        <div class="row">
                2016년 4월-2016년 12월
            </div>
            <div class="row">Tools Used: Unity, Arduino, Oculus
            </div>
            <div class="row">
                <span class="tag">#VR 시뮬레이터 #유니티 툴 #가상 체험</span>
            </div>
            속도계와 자이로 센서를 부착하여 자전거의 속도와 기울기를 받아와 그 값을 토대로 VR 영상을 재생함으로 사용자가 가상의 주행환경을 즐기는 것이 가능하도록 한다. VR영상이 많아지는 현재 다양한 컨텐츠를 간접적으로나마 즐기는 것이 가능한 시뮬레이션을 만드는 것을 목적으로 한다.
        </div>
        <div class="col m6 s12 details">
            <br><img src="https://tkdals1049.github.io/gallerys/pro3.jpg">
        </div>
    </div> 
    <br><br>
    <div class="row project">
        <div class="row">
            <a href="https://youtu.be/gDFpwfGuvQ8" target="_blank"><span class="title"><h2>GDI를 이용한 록맨제로 개발</h2></span></a>
        </div>
        <div class="col m6 s12">
            <div class="row">
                2017년 7월-2017년 8월
            </div>
            <div class="row">Tools Used: GDI, C++
            </div>
            <div class="row">
                <span class="tag">#록맨 제로 #GDI게임</span>
                </a>
            </div>
            많은 사람들이 즐겨왔던 록맨제로를 프로그래밍으로 재현하는 것을 목표로 한다. 스프라이트와 GDI를 이용하여 록맨제로의 디자인을 구현하고 이를 기반으로 2D 로그라이크 게임을 만든다. 지면,캐릭터,피격 등의 충돌을 스무스하게 작용하도록 만든다.
        </div>
    </div> 
    <div class="row project">
            <div class="row">
                <a><span class="title"><h2>DirectX를 이용한 몬스터 헌터 개발</h2></span></a>
            </div>
        <div class="col m6 s12">
            <div class="row">
                2018년 8월-2019년 3월
            </div>
            <div class="row">Tools Used: DieretX, C++, API
            </div>
            <div class="row">
                <span class="tag">#몬스터 헌터 #DirectX 게임 #포트폴리오</span>
            </div>
            3D 액션 어드벤처 게임 정석이라고도 할 수 있는 몬스터 헌터를 DirectX와 C++로 구현하는 것을 목표로 한다. 몬스터헌터에서 직접 모델과 사운드 등의 데이터를 뽑아와 재구성함으로 몬스터헌터를 재현하도록 한다. 이외에도 맵이나 캐릭터를 설정하고 저장이 가능한 에디터를 만들어 개발툴을 만들어 더 많은 기능을 추가가 가능하도록 한다.
        </div>
    </div>
    <br><br>
     <div class="row project">
            <div class="row">
                <a href="http://tkdals1049.github.io/" target="_blank"><span class="title"><h2>프트폴리오용 블로그 개발</h2></span></a>
            </div>
        <div class="col m6 s12">
            <div class="row">
                2020년 10월-
            </div>
            <div class="row">Tools Used: VSCode, Java, Css, HTML
            </div>
            <div class="row">
                <span class="tag">#블로그 개발 #포트폴리오</span>
            </div>
            다른 누군가가 만든 툴이 아닌 프로그래머로써 스스로의 능력으로 블로그를 개발하도록 한다. Java와 Css를 이용하여 보다 많은 기능을 구현할 수 있게 한다.
        </div>
    </div>
</div>
</div>
