---
layout: page
# The page layout
---

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Telegram</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <i class="fab fa-telegram"></i>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">@mikesgarage_bot</span>
                                
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <p>Технологии: Python, PostgreSQL, Django</p>
                                <p>Описание: Чат-бот для автомастерской. Помогает записываться в сервис.</p>
                                <p>Статус: В разработке.</p>
                            </li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Сайт</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <i class="fab fa-modx"></i>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">eridan-92.ru</span>
                                
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <p>Технологии: PHP, MySQL, modX</p>
                                <p>Описание: Сайт для клуба по тхэквондо. Дизайн,верстка и разработка - создание лично мной.</p>
                                <p>Статус: Пром.</p>
                            </li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Сайт</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <i class="fab fa-modx"></i>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">mikesgarage.ru</span>
                                
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <p>Технологии: PHP,MySQL,Wordpress</p>
                                <p>Описание: Сайт для автомастерской.Верстка,разработка - лично мной. Дизайн - шаблон.</p>
                                <p>Статус: В разработке.</p>
                            </li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    