---
layout: page
# The page layout
---

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Telegram</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <i class="fab fa-telegram"></i>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">@mikesgarage_bot</span>
                                
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <p>Технологии: Python, PostgreSQL, Django</p>
                                <p>Описание: Чат-бот для автомастерской. Помогает записываться в сервис.</p>
                            </li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Сайт</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <i class="fab fa-modx"></i>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">eridan-92.ru</span>
                                
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item">
                                <p>Технологии: PHP, MySQL, modX</p>
                                <p>Описание: Сайт для клуба по тхэквондо. Дизайн,верстка и разработка - я</p>
                            </li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">MOM</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">22</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>
                            <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>
                            <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-success">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    