/*
  Style for Homepage
*/

#post-list {
  margin-top: 2rem;

  .card-wrapper {
    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .card {
    border: 0;
    background: none;

    %img-radius {
      border-radius: $base-radius $base-radius 0 0;
    }

    .preview-img {
      @extend %img-radius;

      img {
        @extend %img-radius;
      }
    }

    .card-body {
      height: 100%;
      padding: 1rem;

      .card-title {
        @extend %text-clip;

        color: var(--heading-color) !important;
        font-size: 1.25rem;
      }

      %muted {
        color: var(--text-muted-color) !important;
      }

      .card-text.content {
        @extend %muted;

        p {
          @extend %text-clip;

          line-height: 1.5;
          margin: 0;
        }
      }

      .post-meta {
        @extend %muted;

        i {
          &:not(:first-child) {
            margin-left: 1.5rem;
          }
        }

        em {
          @extend %normal-font-style;

          color: inherit;
        }

        > div:first-child {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/* #post-list */

.pagination {
  color: var(--text-color);
  font-family: Lato, sans-serif;
  justify-content: space-evenly;

  a:hover {
    text-decoration: none;
  }

  .page-item {
    .page-link {
      color: var(--btn-patinator-text-color);
      padding: 0 0.6rem;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      border-radius: 0.5rem;
      border: 0;
      background-color: inherit;
    }

    &.active {
      .page-link {
        background-color: var(--btn-paginator-hover-color);
      }
    }

    &:not(.active) {
      .page-link {
        &:hover {
          box-shadow: inset var(--btn-border-color) 0 0 0 1px;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: rgba(108, 117, 125, 0.57);
      }
    }
  }

  /* .page-item */
}

/* .pagination */

/* Tablet */
@media all and (min-width: 768px) {
  %img-radius {
    border-radius: 0 $base-radius $base-radius 0;
  }

  #post-list .card .preview-img.project-title-img, #post-list .card .preview-img.project-title-img img {
    border-radius: 0;
  }

  #post-list {
    .card {
      .card-body {
        padding: 1.75rem 1.75rem 1.25rem 1.75rem;

        .card-text {
          display: inherit !important;
        }

        .post-meta {
          i {
            &:not(:first-child) {
              margin-left: 1.75rem;
            }
          }
        }
      }
    }
  }
}

/* Hide SideBar and TOC */
@media all and (max-width: 830px) {
  .pagination {
    .page-item {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
}

/* Sidebar is visible */
@media all and (min-width: 831px) {
  #post-list {
    margin-top: 2.5rem;
  }

  .pagination {
    font-size: 0.85rem;
    justify-content: center;

    .page-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }

    .page-index {
      display: none;
    }
  }
  /* .pagination */
}

.project-body {
  padding: 1.25rem !important;
}

#post-list .card .project-icon, #post-list .card .project-icon img {
  flex: 0 0 auto;
  height: 72px;
  width: 72px;
  object-fit: contain;
  background-color: var(--card-bg);
  border-radius: 0;
  vertical-align: unset;
  margin: auto;
}

.preview-img {
  padding: 0;
}

.project-main {
  width: calc(40% - 36px);
  padding: 0;
  height: fit-content;
  max-height: 72px;
  margin: auto;
  overflow: hidden;
}

.project-title-img-wrapper {
  width: calc(40% + 36px);
  padding: 0;
  height: fit-content;
  max-height: 72px;
  margin: auto;
  overflow: hidden;
}

.project-title-img, .project-title-img img {
  height: 72px;
  flex: 0 0 auto;
  object-fit: contain;
  background-color: var(--card-bg);
  border-radius: 0;
  vertical-align: center;
  horiz-align: left;
}

.project-title-img {
  margin-left: 12px;
}

.preview-img.project-title-img {
  width: unset;
}

.project-main > p {
  margin-bottom: 0;
  line-height: 1.2;
}

.project-content {
  width: calc(60% - 36px);
  height: fit-content;
  max-height: 72px;
  margin: auto;
  overflow: hidden;
}

.card-desc {
  color: var(--heading-color) !important;
  margin-bottom: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .project-main {
    width: calc(100% - 72px);
  }

  .project-content {
    width: 100%;
    margin: 12px 12px 0 12px;
  }
}

.full-container {
  min-height: 100%;
}

@media (max-width: 768px) {
  .md\:h-screen {
    height: 100vh;
  }
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.md\:flex {
  display: flex;
}

.max-width-1080 {
  max-width: 1080px;
}

:where(.child\:absolute) > :where(:not(.not-child)) {
  position: absolute;
}

.fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}

.max-32-rem {
  max-width: 32rem;
}

.max-24-rem {
  max-width: 24rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-auto-rows {
  grid-auto-rows: 1fr;
}

#post-list > .overview-card {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

#post-list .card .overview-icon, #post-list .card .overview-icon img {
  flex: 0 0 auto;
  height: 29px;
  width: 29px;
  object-fit: contain;
  background-color: var(--card-bg);
  border-radius: 0;
  vertical-align: unset;
}

#post-list .card .overview-title-img, #post-list .card .overview-title-img img {
  flex: 0 0 auto;
  height: 33px;
  object-fit: contain;
  background-color: var(--card-bg);
  border-radius: 0;
  vertical-align: unset;
}

#home-title {
  background: none;
}

#home-title p {
  color: var(--heading-color);
}

#home-title p, .overview-card p {
  line-height: var(--bs-body-line-height);
}

.overview-title {
  width: fit-content;
  padding-left: 4px;
}

.overview-body {
  padding: 1.75rem !important;
}

.overview-title-body {
  padding: 2.25rem !important;
  border-radius: .625rem;
  background-color: var(--card-bg);
}

.project-main {
  width: calc(40% - 36px);
  padding: 0 0 0 8px;
  height: fit-content;
  max-height: 72px;
  margin: auto;
  overflow: hidden;
}

.project-main > p {
  margin-bottom: 0;
  line-height: 1.2;
}

.project-content {
  width: calc(60% - 36px);
  height: fit-content;
  max-height: 72px;
  margin: auto;
  overflow: hidden;
}

#post-list .card .card-body .overview-text.card-text.content {
  color: var(--heading-color) !important;
}

#post-list.grid .card-wrapper {
  margin-bottom: 1.25rem;
}

#post-list.grid > h2 {
  grid-column: 1 / -1;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1280px) {
  .grid-cols-2-w {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .grid-cols-1-w {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    grid-auto-rows: unset;
  }
  article.gap-4 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  #post-list.grid-cols-1-w.gap-4 {
    gap: 0.0rem !important;
    margin-top: 1rem;
  }
  .grid-cols-1-w .overview-card {
    max-width: unset;
  }
  .grid-cols-1-w .overview-card.h-100 {
    height: fit-content !important;
  }
  .project-card.card {
    height: fit-content;
    .project-content {
      max-height: unset;
    }
  }
  .w-md-100 {
    width: 100%!important;
  }
}

#sidebar > header.profile-wrapper {
  padding-left: 1.25rem;
}

#sidebar > header.profile-wrapper p {
  margin-left: 1.25rem;
}

.w-300px {
  width: 300px;
}

.h-100px {
  height: 100px;
}

.no-popup {
  pointer-events: none;
}

.logo {
  height: unset;
  img {
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

.organization-grid > p > a:nth-child(2) {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 0;

  em {
    font-style: normal;
    font-size: 80%;
    text-align: center;
    padding: 0;
    display: block;
  }
}

.child-img-px-1 > img {
  padding: 0.25rem;
}
