/*
  Style for Homepage
*/

#post-list {
  margin-top: 2rem;

  a.card-wrapper {
    display: block;

    &:hover {
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  .card {
    %img-radius {
      border-radius: $base-radius $base-radius 0 0;
    }

    .preview-img {
      height: 10rem;

      @extend %img-radius;

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;

        @extend %img-radius;
      }
    }

    .card-body {
      min-height: 10.5rem;
      padding: 1rem;

      .card-title {
        @extend %text-clip;

        font-size: 1.25rem;
      }

      %muted {
        color: var(--text-muted-color) !important;
      }

      .card-text.post-content {
        @extend %muted;

        p {
          @extend %text-clip;

          line-height: 1.5;
          margin: 0;
        }
      }

      .post-meta {
        @extend %muted;

        i {
          &:not(:first-child) {
            margin-left: 1.5rem;
          }
        }

        em {
          @extend %normal-font-style;

          color: inherit;
        }

        > div:first-child {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
} /* #post-list */

.pagination {
  color: var(--btn-patinator-text-color);
  font-family: Lato, sans-serif;

  a:hover {
    text-decoration: none;
  }

  .page-item {
    .page-link {
      color: inherit;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      border-radius: 50%;
      border: 1px solid var(--btn-paginator-border-color);
      background-color: var(--button-bg);

      &:hover {
        background-color: var(--btn-paginator-hover-color);
      }
    }

    &.active {
      .page-link {
        background-color: var(--btn-paginator-hover-color);
        color: var(--btn-text-color);
      }
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        color: rgba(108, 117, 125, 0.57);
        border-color: var(--btn-paginator-border-color);
        background-color: var(--button-bg);
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 50%;
    }
  } /* .page-item */
} /* .pagination */

/* Tablet */
@media all and (min-width: 768px) {
  #post-list {
    %img-radius {
      border-radius: 0 $base-radius $base-radius 0;
    }

    .card {
      .preview-img {
        width: 20rem;
        height: 11.5rem; // can hold 2 lines each for title and content
      }

      .card-body {
        min-height: 10.75rem;
        width: 60%;
        padding: 1.75rem 1.75rem 1.25rem 1.75rem;

        .card-text {
          display: inherit !important;
        }

        .post-meta {
          i {
            &:not(:first-child) {
              margin-left: 1.75rem;
            }
          }
        }
      }
    }
  }
}

/* Hide SideBar and TOC */
@media all and (max-width: 830px) {
  .pagination {
    justify-content: space-evenly;

    .page-item {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
}

/* Sidebar is visible */
@media all and (min-width: 831px) {
  #post-list {
    margin-top: 2.5rem;
  }

  .pagination {
    font-size: 0.85rem;

    .page-item {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }

      .page-link {
        width: 2rem;
        height: 2rem;
      }
    }

    .page-index {
      display: none;
    }
  } /* .pagination */
}

/* Panel is visible */
@media all and (min-width: 1200px) {
  #post-list {
    padding-right: 0.5rem;
  }
}
