/*
  Styles for Tab Tags
*/

.tag {
  border-radius: 0.7em;
  padding: 6px 8px 7px;
  margin-right: 0.8rem;
  line-height: 3rem;
  letter-spacing: 0;
  border: 1px solid var(--tag-border) !important;
  box-shadow: 0 0 3px 0 var(--tag-shadow);
<<<<<<< HEAD
=======

>>>>>>> ebb3dc940c22d864dc41a16f1d84c1a0c0a003ba
  span {
    margin-left: 0.6em;
    font-size: 0.7em;
    font-family: 'Oswald', sans-serif;
  }
}
