name: Lint Commit Messages

on:
  push:
    branches:
      - master
      - "hotfix/*"
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: wagoid/commitlint-github-action@v6
