<<<<<<< HEAD
name: 'Automatic build'
on:
  push:
    branches:
=======
name: "Build and Deploy"
on:
  push:
    branches:
      - main
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
      - master
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE

<<<<<<< HEAD
jobs:
  continuous-delivery:

=======
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
<<<<<<< HEAD
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # for posts's lastmod
=======
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # submodules: true
          # If using the 'assets' git submodule from Chirpy Starter, uncomment above
          # (See: https://github.com/cotes2020/chirpy-starter/tree/main/assets)

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
<<<<<<< HEAD
          ruby-version: 2.7
          bundler-cache: true

      - name: Check baseurl
        run: |
          baseurl="$(grep '^baseurl:' _config.yml | sed "s/.*: *//;s/['\"]//g;s/#.*//")"
          if [[ -n $baseurl ]]; then
            echo "BASE_URL=$baseurl" >> $GITHUB_ENV
          fi

      - name: Build Site
        env:
          JEKYLL_ENV: production
        run: |
          bundle exec jekyll b -d "_site$BASE_URL"

      - name: Test Site
        run: |
          bash tools/test.sh

      - name: Deploy
        run: |
          if [[ -n $BASE_URL ]]; then
            mv _site$BASE_URL _site-rename
            rm -rf _site
            mv _site-rename _site
          fi

          bash tools/deploy.sh
=======
          ruby-version: 3   # reads from a '.ruby-version' or '.tools-version' file if 'ruby-version' is omitted
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll b -d "_site${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: "production"

      - name: Test site
        run: |
          bundle exec htmlproofer _site --disable-external --check-html --allow_hash_href

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "_site${{ steps.pages.outputs.base_path }}"

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
>>>>>>> 1a148b47672b35d180699fc905d033785c8bbe28
